<footer class="bg-[#444444] text-[#fafafa]">
  <div class="flex justify-between items-center py-10 lg:max-w-[85%] mx-auto">
    <span class="text-base md:text-md lg:text-lg"
      >&copy; Copyright 2023 Blogs. All rights reservered.</span
    >
    <div class="flex space-x-4 align-center">
      <a
        href="#"
        class="border rounded-full h-10 w-10 flex justify-center items-center hover:border-[#13E4E4] hover:text-[#13E4E4] transition-all"
      >
        <i class="fab fa-instagram text-xl"></i>
      </a>
      <a
        href="#"
        class="border rounded-full h-10 w-10 flex justify-center items-center hover:border-[#13E4E4] hover:text-[#13E4E4] transition-all"
      >
        <i class="fab fa-twitter text-xl"></i>
      </a>
      <a
        href="#"
        class="border rounded-full h-10 w-10 flex justify-center items-center hover:border-[#13E4E4] hover:text-[#13E4E4] transition-all"
      >
        <i class="fab fa-github text-xl"></i>
      </a>
    </div>
  </div>
</footer>
