<header class="shadow-lg sticky top-0 bg-white z-40">
  <nav class="flex justify-between items-center py-5 lg:max-w-[85%] mx-auto">
    <a
      class="text-[#007DFE] text-lg font-extrabold md:text-xl lg:text-3xl"
      href="/"
      >Just9blogs</a
    >
    <div class="space-x-7">
      <a
        class="text-[#007DFE] font-bold p-[2px] underline ease-in-out duration-300 rounded-[5px] text-lg hover:no-underline hover:bg-blue-300"
        href="/"
        >Home</a
      >
      <a
        class="text-[#007DFE] font-bold p-[2px] underline ease-in-out duration-300 rounded-[5px] text-lg hover:no-underline hover:bg-blue-300"
        href="/about"
        >About</a
      >
      <a
        class="text-[#007DFE] font-bold p-[2px] underline ease-in-out duration-300 rounded-[5px] text-lg hover:no-underline hover:bg-blue-300"
        href="/blogs"
        >Blogs</a
      >
      <a
        class="bg-green-600 text-white px-4 py-1.5 rounded-md hover:bg-green-400 transition-all inline-flex items-center"
        href="/blogs/create"
      >
        Add New
      </a>
      <a
        class="text-[#007DFE] font-bold p-[2px] underline ease-in-out duration-300 rounded-[5px] text-lg hover:no-underline hover:bg-blue-300"
        href="/login"
        >Admin?</a
      >
    </div>
  </nav>
</header>
