<header>
    <nav class="navbar">
        <a class="logo" href="#">Just9blogs</a>
        <div class="menu">
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/blogs">Blogs</a>
            <a href="/blogs/create">Add New Blogs</a>
        </div>
    </nav>
</header>
