<header class="shadow-lg sticky top-0 bg-white z-40">
  <nav class="flex justify-between items-center py-5 lg:max-w-[85%] mx-auto">
    <a
      class="text-[#13E4E4] text-lg font-extrabold md:text-xl lg:text-3xl"
      href="/"
      >Just9blogs</a
    >
    <div class="space-x-7">
      <a
        class="text-[#181826] hover:text-[#13E4E4] font-bold transition-all text-base md:text-lg lg:text-xl"
        href="/"
        >Home</a
      >
      <a
        class="text-[#181826] hover:text-[#13E4E4] font-bold transition-all text-base md:text-lg lg:text-xl"
        href="/about"
        >About</a
      >
      <a
        class="text-[#181826] hover:text-[#13E4E4] font-bold transition-all text-base md:text-lg lg:text-xl"
        href="/blogs"
        >Blogs</a
      >
      <a
        class="text-[#181826] hover:text-[#13E4E4] font-bold transition-all text-base md:text-lg lg:text-xl"
        href="/blogs/create"
        >Add New Blogs</a
      >
    </div>
  </nav>
</header>
