<!DOCTYPE html>
<html>
  <%-include("./partials/head.ejs") %>
  <body>
    <%-include("./partials/navbar.ejs") %>

    <div class="about-section container">
      <h1>About Me</h1>
      <img src="/img/profile pic.jpg" alt="Profile picture" />
      <p>
        Hi there! My name is Amit and I am a blogger and content creator. I am
        passionate about sharing my experiences and insights with the world, and
        connecting with like-minded people. On my blog, you will find a mix of
        personal stories, useful tips, and interesting insights related to Web
        Developement. I hope you enjoy reading my content as much as I enjoy
        creating it!
      </p>
      <div class="social-links">
        <a href="#" class="social-link">
          <img src="" alt="Instagram icon" />
        </a>
        <a href="#" class="social-link">
          <img src="twitter-icon.png" alt="Twitter icon" />
        </a>
        <a href="#" class="social-link">
          <img src="facebook-icon.png" alt="Facebook icon" />
        </a>
      </div>
    </div>
    <%-include("./partials/footer.ejs") %>
  </body>
</html>
