<!DOCTYPE html>
<html>
  <%-include("./partials/head.ejs") %>
  <body>
    <%-include("./partials/navbar.ejs") %>
    <section class="blog__section">
      <h1>Create a new blog. show the world your creation.</h1>
      <form action="/blogs" method="POST">
        <%-include("./partials/formField.ejs") %>
      </form>
    </section>
    <%-include("./partials/footer.ejs") %>
  </body>
</html>
