<!DOCTYPE html>
<html>
  <%-include("./partials/head.ejs") %>
  <body>
    <%-include("./partials/navbar.ejs") %>
    <section class="blog__section">
      <h1>Create a new blog. show the world your creation.</h1>
      <div class="blog__form">
        <form action="/blogs" method="POST">
          <label for="title">Title:</label>
          <input type="text" id="title" name="title" required />

          <label for="blog">Blog:</label>
          <textarea id="blog" name="blog" required></textarea>

          <input type="submit" value="Pulish" />
        </form>
      </div>
    </section>
    <%-include("./partials/footer.ejs") %>
  </body>
</html>
