<!DOCTYPE html>
<html lang="en">
  <%-include("./partials/head.ejs") %>
  <body>
    <%-include("./partials/navbar.ejs") %>

    <section class="hero container">
      <div class="hero-text">
        <h1>Unlocking the Secrets of Web Development - Join the Evolution</h1>
        <p>
          Welcome to my blog's! Here you will find tips, tricks and unique
          insights on the latest technologies and trends in the industry to help
          you improve you skills and stay ahead of the curve. Join me on this
          journey to unlock the secrets of web development and evolve with
          technology.
        </p>
      </div>
      <div class="hero-image">
        <img src="/img/hero.jpg" alt="A beautiful landscape" />
      </div>
    </section>

    <section class="blogs container">
      <div class="blog">
        <div class="blog__discription">
          <h3 class="blog__title">Blog Title</h3>
          <p class="blog__snippet">
            A blog is a website or page that is a part of a larger website.
            Typically, it features articles written in a conversational style
            with accompanying pictures or videos. Blogging is a fun and flexible
            way for self-expression and social connection, so it is no wonder
            blogs have become very popular.
          </p>
        </div>
        <div class="blog__image">
          <img src="/img/hero.jpg" alt="" />
        </div>
      </div>

      <div class="blog">
        <div class="blog__discription">
          <h3 class="blog__title">Blog Title</h3>
          <p class="blog__snippet">
            A blog is a website or page that is a part of a larger website.
            Typically, it features articles written in a conversational style
            with accompanying pictures or videos. Blogging is a fun and flexible
            way for self-expression and social connection, so it is no wonder
            blogs have become very popular.
          </p>
        </div>
        <div class="blog__image">
          <img src="/img/hero.jpg" alt="" />
        </div>
      </div>
    </section>

    <%-include("./partials/footer.ejs") %>
  </body>
</html>
