:root {
  /* Colors */

  /* Primary colors */
  --Pink: hsl(322, 100%, 66%);

  /* Neutral */
  --Very-Pale-Cyan: hsl(193, 100%, 96%);
  --Very-Dark-Cyan: hsl(192, 100%, 9%);
  --Grayish-Blue: hsl(208, 11%, 55%);
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.container {
  margin: 0 auto;
  max-width: 90%;
}

.active {
  color: #007dfe;
}

/* Navigation Bar */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--Very-Pale-Cyan);
  height: 60px;
  padding: 0 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.navbar a {
  color: #ccc;
  text-decoration: none;
  font-size: 18px;
  margin: 0 10px;
}

.navbar a:hover {
  color: #007dfe;
}

.navbar .logo {
  font-size: 22px;
  font-weight: bold;
}

.navbar .menu {
  display: flex;
}

.navbar .menu a::after {
  content: "";
  display: block;
  height: 2px;
  background-color: #007dfe;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.navbar .menu a:hover::after {
  transform: scaleX(1);
}

@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
    height: auto;
  }

  .navbar .menu {
    display: none;
  }

  .navbar .logo {
    margin-bottom: 10px;
  }
}

/* Hero Section */

.hero {
  display: flex;
  align-items: center;
  color: #fff;
  justify-content: space-between;
  padding: 20px;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #007dfe;
  text-align: center;
  max-width: 40%;
}

.hero-text h1 {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.hero-text p {
  font-size: 18px;
  margin: 10px 0;
  color: #ccc;
}

.hero-image {
  /* flex: 1; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 50%;
}

@media (max-width: 600px) {
  .hero {
    flex-direction: column;
  }

  .hero-text {
    padding: 20px;
  }

  .hero-image {
    height: 200px;
  }

  .hero-image img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/*  About*/
h1 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 40px;
  text-transform: uppercase;
}
.about-section {
  max-width: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-block: 2rem;
}
.about-section img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  border: 10px solid #333;
  margin-bottom: 20px;
}
.about-section p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 40px;
}
.social-links {
  display: flex;
  justify-content: center;
}
.social-link {
  width: 40px;
  height: 40px;
  background-color: #333;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  transition: background-color 0.2s ease;
}
.social-link:hover {
  background-color: #555;
}
.social-link img {
  width: 20px;
  height: 20px;
}
/* blogs */
.blogs {
  padding: 20px;
}

.blog {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.24s;
  padding: 10px 30px;
  max-width: 750px;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.blog:not(:last-child) {
  margin-bottom: 3rem;
}

.blog:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.blog__title {
  background-color: red;
}

.blog__image {
  max-width: 100%;
}

/* blogs */

.blog-title {
  margin-block: 3rem;
  text-align: center;
}
.blog-container {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.blog-card {
  display: flex;
  align-items: center;
  max-width: 500px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.2s ease;
}

.blog-card + .blog-card {
  margin-top: 2rem;
}

.blog-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.blog-card .content {
  padding: 20px;
  box-sizing: border-box;
}
.blog-card .title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}
.blog-card .snippet {
  font-size: 16px;
  line-height: 1.5;
  color: #777;
}
.blog-card .read-more {
  display: block;
  font-size: 14px;
  font-weight: bold;
  text-align: right;
  color: #333;
  text-decoration: none;
  margin-top: 20px;
}
.blog-card .read-more:hover {
  color: #555;
}
/* form section */
.blog__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  max-width: 90%;
  margin: 0 auto;
}

.blog__section h1 {
  margin-top: 1.5rem;
}

form {
  margin: 1rem auto;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form label {
  font-size: 1.2em;
  font-weight: bold;
}

form input,
form select,
form textarea {
  width: 100%;
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
  outline: none;
}

form input:hover,
form input:focus,
form select:hover,
form select:focus,
form textarea:hover,
form textarea:focus {
  border: 1px solid rgb(165, 82, 49);
}

form input[type="submit"],
form button {
  width: auto;
  background-color: #4caf50;
  color: white;
  padding: 0.5em 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 2rem;
}

form input[type="submit"]:hover,
form button:hover {
  background-color: #45a049;
}

form .error {
  display: none;
  color: red;
  font-size: 0.8em;
  margin-top: 0.5em;
}

form .cancel {
  text-decoration: none;
  color: white;
  padding: 0.7rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 2rem;
  background-color: #555;
  margin-right: 0.7rem;
}

/* footer */

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 3rem;
  background-color: var(--Very-Dark-Cyan);
  align-self: flex-end;
  color: #fff;
  width: 100%;
}

.footer__copy {
  text-align: center;
  font-size: 0.95rem;
}

.footer-socials {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 0.5rem;
  fill: #fff;
  transition: all 0.25s;
}

.footer-social svg {
  fill: #fff;
}

.footer-social:hover,
.footer-social:focus {
  border: 1px solid var(--Pink);
  fill: var(--Pink);
  transform: translateY(-3px);
}
.footer-social:hover svg,
.footer-social:focus svg {
  fill: var(--Pink);
}

.footer-social:active {
  transform: translateY(0);
}

.footer-social svg {
  width: 1rem;
  height: 1rem;
}

.footer-social:not(:last-child) {
  margin-right: 1rem;
}
